<header class="site-header">
    <div class="color-bar">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
        <div class="bar bar4"></div>
        <div class="bar bar5"></div>
        <div class="bar bar6"></div>
    </div>
    <div class="row mt20 mb20">
        <div class="col-sm-1"></div>
        <div class="col-md-4"><a href="{{ "/ " | prepend: site.baseurl }}">&nbsp;&nbsp;&nbsp;<h1 class="headline">{{site.title}}</h1></a></div>
        <div class="col-sm-7"> </div>

    </div>


</header>
