<div class="meny">
    <h2 class="menu-header">Navigation</h2>
    <ul class="menu-ul">
        <a href="https://github.com/clearives" target="_blank"><li class="meny-li">Github</li></a>
        <a href="https://github.com/clearives/webCollection" target="_blank"><li class="meny-li">Collection</li></a>
        <a href="https://github.com/clearives/learn" target="_blank"><li class="meny-li">Learn</li></a>
        <a href="{{site.baseurl}}/about/"><li class="meny-li">About</li></a>


    </ul>
    {% if site.version %}
    <p style="color: #eee">Site Version {{site.version}}</p>
    {% endif %}
</div>
